# ===== MTR STG Configuration =====
PROJECT_ID=silicon-guru-351910
SUBSCRIPTION_ID=stg-mtr.pose-sub
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
GOOGLE_CHAT_WEBHOOK=https://chat.googleapis.com/v1/spaces/xxx/messages?key=xxx&token=xxx

# ===== MTR SB Configuration =====
SB_PROJECT_ID=silicon-guru-351910
SB_SUBSCRIPTION_ID=sb-mtr.pose-sub
SB_GOOGLE_APPLICATION_CREDENTIALS=./sb-service-account.json
SB_GOOGLE_CHAT_WEBHOOK=https://chat.googleapis.com/v1/spaces/AAQA4m2I0hU/messages?key=xxx
