# ===== MTR Configuration =====
PROJECT_ID=
SUBSCRIPTION_ID=
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json
GOOGLE_CHAT_WEBHOOK=

# ===== SB Configuration =====
SB_PROJECT_ID=
SB_SUBSCRIPTION_ID=
SB_GOOGLE_APPLICATION_CREDENTIALS=./sb-service-account.json
SB_GOOGLE_CHAT_WEBHOOK=

# ===== Production POSe Configuration =====
POSE_PROJECT_ID=
POSE_SUBSCRIPTION_ID=
POSE_GOOGLE_APPLICATION_CREDENTIALS=./pose-service-account.json
POSE_GOOGLE_CHAT_WEBHOOK=

# ===== Production TAP Configuration =====
TAP_PROJECT_ID=
TAP_SUBSCRIPTION_ID=
TAP_GOOGLE_APPLICATION_CREDENTIALS=./tap-service-account.json
TAP_GOOGLE_CHAT_WEBHOOK=
