# Google Pub/Sub Configuration
PROJECT_ID=silicon-guru-351910
SUBSCRIPTION_ID=stg-mtr.pose-sub
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json

# Google Chat Webhook
GOOGLE_CHAT_WEBHOOK=https://chat.googleapis.com/v1/spaces/AAQA4m2I0hU/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=9G10UhiR3BKRMXjs1FoPxXuRGg4PytGaZUne3IW_XF4
